.category{
    background-color:#F2F3F4;
}
.card1{
    text-align:center;
}
.card2{
    background-color:white;
    width:200px;
    line-height:20px;
    text-align:center;
    margin:5px;
    padding:10px;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:20px;
}
.card3{
    text-align:center;
}
.card4{
    background-color:white ;
    width: 250px;
    line-height:20px;
    text-align:center;
    border-radius:5px;
    margin:5px;
    padding:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
}
.amount{
    color:red;
}